<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

	<div class="container-fluid" tiles:fragment="body">
	  <div class="row">
	    <div class="col-xs-1 col-sm-3"></div>
	    <div class="col-xs-10 col-sm-9">

			<h3>SocialEQ is a social media transactions platform</h3>

			<p>
				Purple &amp; Gold, Inc. ("SocialEQ," "we," "us," "our" or the
				"Company") operates the website located at <a href="https://www.socialeq.co">http://www.socialeq.co</a> (the
				"Site").&nbsp; Our goal is to provide a real-time commerce
				solution that will connect buyers and sellers via Social
				Media.&nbsp; Among other things, SocialEQ offers web-based tools
				to facilitate transactions on social media platforms.&nbsp; The
				services, features, content or applications that may be offered
				from time to time by SocialEQ in connection with the Site and/or
				SocialEQ's business are collectively referred to as the
				"Services."
			</p>

			<h3>1. Acceptance of the Terms of Service; Changes</h3>

			<p>By accessing the Site and/or using the Services, you agree
				to be bound by all of the provisions of the Terms of Service (the
				"TOS"). &nbsp; IF YOU DO NOT ACCEPT AND AGREE TO ALL OF THE
				PROVISIONS OF THE TOS, YOU ARE NOT AUTHORIZED TO ACCESS THE SITE
				OR USE THE SERVICES.</p>

			<p>As used in the TOS, the terms "you" and "your" mean each
				individual or entity that accesses, browses or uses the Site
				and/or the Services in any manner. &nbsp; If you are accessing
				the Site and/or using the Services on behalf of an entity, you
				represent and warrant to SocialEQ that you have the authority to
				bind the entity you represent to the TOS.&nbsp; Your agreement to
				these terms will be treated as the agreement of the entity you
				represent.</p>

			<p>SocialEQ may modify the TOS or add or remove terms at any
				time, and each such modification, addition or deletion will be
				effective immediately upon posting on the Site.&nbsp; Your use of
				the Site or the Services following any such posted modification,
				addition or deletion constitutes your agreement to be bound by
				and your acceptance of the TOS as so modified.&nbsp; It is
				therefore important that you review the TOS regularly. &nbsp; IF
				YOU DO NOT AGREE TO BE BOUND BY ALL OF THE TERMS OF THE MODIFIED
				TOS, YOU ARE NOT AUTHORIZED TO ACCESS THE SITE AND/OR USE THE
				SERVICES, AND YOU MUST IMMEDIATELY DISCONTINUE DOING SO.</p>

			<h3>2. Privacy Policy; Additional Terms.</h3>

			<p>
				Use of the Site and the Services is subject to the SocialEQ
				Privacy Policy (the "Privacy Policy").&nbsp; The terms of the
				Privacy Policy are incorporated into the TOS by this reference.
				&nbsp; (To view the Privacy Policy, click <a th:href="@{/privacy}">here. </a>)
			</p>

			<p>Your access to and/or use of certain portions of the Site
				and certain of the Services will require you to accept terms and
				conditions applicable to such Services which are in addition to
				the terms of the TOS and will be presented to you for your
				acceptance when you sign up for such Services (the "Additional
				Terms"). &nbsp; The TOS, the Privacy Policy and any Additional
				Terms published (collectively, the "User Agreements") set forth
				the terms and conditions that apply to your use of the Site and
				the Services. &nbsp; To the extent there is any conflict between
				the TOS and any Additional Terms, the Additional Terms will
				prevail.</p>

			<h3>3. Eligibility.</h3>

			<p>You may only use the Site and the Services if you are at
				least 18 years of age.&nbsp; If you are under the age of 18 or
				under the age of majority in the jurisdiction in which you are
				located, you may only use the Site and the Services under the
				supervision of a parent or legal guardian.&nbsp; You may not use
				the site if you are under 18 years of age. &nbsp; SocialEQ
				reserves the right to require you to provide SocialEQ with proof
				of your age and, if applicable, approval of your use of the Site
				and the Services by your parent/legal guardian. &nbsp; SocialEQ
				may terminate your access to and use of the Site and the Services
				without warning if it determines that you do not meet the
				foregoing eligibility requirements.</p>

			<p>In addition to the eligibility requirements in the TOS,
				your use of certain Services may be subject to eligibility
				requirements set forth in the Additional Terms.</p>

			<h3>4. Access to the Site and the Services</h3>

			<p>Our Services provide a market for registered users of the
				Services to utilize social media services and other real-time
				communication services ("Social Media" ) in order to purchase
				goods or services directly from, other registered users
				("Sellers" ). Users that make payments to Sellers are referred to
				in these as "Buyers".</p>

			<p>You acknowledge and agree that the Services only help
				facilitate transactions between Sellers and Buyers, and that
				SocialEQ will never act as a Buyer or a Seller. Sellers must
				resolve any issues, disputes or differences directly with Buyers
				and Buyers must deal directly with Sellers to resolve and
				problematic transactions. SocialEQ is not a party to and has no
				responsibility or liability with respect to any communications,
				transactions, interactions, disputes or any relations whatsoever
				between Sellers and Buyers.</p>

			<h4>4.1 General Access.</h4>

			<p>SocialEQ hereby grants to you a limited, non-transferable,
				non-exclusive right to access and use its proprietary,
				commercially available, hosted software product and related
				documentation via a Web-browser for use during the term of the
				Agreement.&nbsp; SocialEQ hosts and retains control over the
				software and only makes it available for access and use by you
				over the Internet through a Web-browser. &nbsp; Nothing in this
				Agreement obligates SocialEQ to deliver or make available any
				copies of computer programs or code from the software to you,
				whether in object code or source code form. &nbsp; You may not
				rent, lease, distribute, or resell the software, or use the
				software as the basis for developing a competitive solution (or
				contract with a third party to do so), or remove or alter any of
				the logos, trademark, patent or copyright notices,
				confidentiality or proprietary legends or other notices or
				markings that are on or in the software.</p>

			<h4>4.2 Registered Users.</h4>

			<p>In order to access or use certain Services you must become
				a "Registered User" by creating an account (an "Account") and
				choosing a password that you will use to access your
				Account.&nbsp; By registering, you represent and warrant to the
				Company that all registration and other information you submit to
				or through the Site is truthful, accurate, current and complete,
				and you agree to immediately provide corrected information if any
				of the submitted information shall no longer be truthful,
				accurate, current and complete.&nbsp; You further represent and
				warrant that your use of the Site and the Services does not
				violate any applicable laws, rules or regulations. &nbsp; Without
				limiting any of SocialEQ's other available legal remedies, if you
				provide any registration or other information that is untrue,
				inaccurate, or incomplete, or SocialEQ has reasonable grounds to
				suspect that such is the case, SocialEQ may immediately, and
				without notice to you, suspend or terminate your Account and
				refuse any and all use by you of the Site and the Services.
				&nbsp; Your registration on the Site and your use of the Site and
				the Services are void where prohibited.</p>

			<p>You are solely responsible for safeguarding the
				confidentiality of your password and for any and all use of your
				Account and password, whether or not authorized by you.&nbsp;
				Although SocialEQ will not be liable for any of your losses that
				are caused by any unauthorized use of your Account, you may be
				liable for the losses of SocialEQ or others due to such
				unauthorized use.&nbsp; If you suspect any unauthorized use of
				your Account or unauthorized access to your password, please
				contact SocialEQ immediately at support@SocialEQ.co. &nbsp; You
				do not have the right to transfer your Account to any individual
				or entity and SocialEQ reserves the right to remove or reclaim
				your Account if SocialEQ determines, in its sole discretion, that
				such action is appropriate under the circumstances. &nbsp; You
				agree that you will not create an Account for any individual
				other than yourself (or, if applicable, the entity you
				represent).&nbsp; As a Registered User, you agree that SocialEQ
				may electronically provide you (via email or postings or links on
				the Site) with invoices, documents, notices and other
				communications regarding the Site, the Services and/or your use
				thereof, as well as special offers, promotions, commercial
				advertisements, marketing materials, etc.&nbsp; You agree that
				SocialEQ may send the foregoing communications to you via your
				Account or any email address(es) which you provide to SocialEQ as
				part of your Account registration or otherwise.</p>

			<h3>5. Use of the Site and Services</h3>

			<h4>5.1 Generally</h4>

			<p>5.1.1. You agree that you will use the Services solely in a
				manner consistent with this Agreement and the SocialEQ mission
				described above.&nbsp; You assume all risk when using the Site
				and the Services, and you acknowledge that the Company cannot
				guarantee and does not promise any specific results from your use
				of the Site and the Services.</p>

			<p>5.1.2. While some of the Services may relate to legal, tax,
				investment or accounting matters, neither we nor any of the
				professionals providing such content are providing professional
				advice to you, and you acknowledge that there is no professional
				relationship (including without limitation any attorney-client
				relationship) between you and any of the same, unless you and
				such party specifically agree otherwise.</p>

			<p>5.1.3. The information and services provided on the Site
				are not provided to, and may not be used by, any person or entity
				in any jurisdiction where the provision or use thereof would be
				contrary to applicable laws, rules or regulations of any
				governmental authority or where SocialEQ is not authorized to
				provide such information or services. &nbsp; Some products and
				services described in the Site may not be available in all
				jurisdictions or to all users.</p>

			<p>5.1.4. You represent and warrant to SocialEQ that: you own
				all rights in and to the content posted by you on, through or in
				connection with the Site or the Services ("User Content"), or
				otherwise have all the rights, power and authority legally
				required to grant SocialEQ the rights in your User Content
				pursuant to the TOS and the Additional Terms; and the posting of
				your User Content on or through the Site does not violate the TOS
				or violate the privacy rights, publicity rights, intellectual
				property rights (including, without limitation, copyrights and
				trademarks), contract rights or any other rights of any person or
				entity, whether or not such person or entity is depicted or
				appears/performs in your User Content. &nbsp; You agree that you
				are solely responsible for the User Content that you post on or
				through the Site and any material or information that you
				transmit to other users of the Site or the Services.</p>

			<p>5.2 You agree that SocialEQ has the right to perform all
				technical functions necessary to offer the Services, including,
				but not limited to, processing and transmitting email
				communications to and from you, and transcoding and/or
				reformatting your User Content You do not have the right to use,
				copy or distribute any of the content posted on the Site, except
				as expressly authorized by the TOS and the Additional Terms.
				&nbsp; Any violation by you of the forgoing prohibitions may
				result in the termination of your Account and your right to use
				the Site and the Services.</p>

			<h4>5.3 Your Conduct When Using the Site and the Services</h4>

			<p>5.3.1. As a condition of your access to the Site and use of
				the Services, you are prohibited from taking any action that
				would violate the content and conduct standards set forth in
				Section 6 below.&nbsp; In addition and not in limitation of the
				prohibited actions set forth in Section 6 below, you agree that
				you will not (a) employ any device, scheme, or artifice to
				defraud or (b) engage in any act, practice, or course of business
				which operates or would operate as a fraud or deceit upon any
				person.</p>

			<p>5.3.2. SocialEQ reserves the right, but is under no
				obligation or duty, to at any time, and without notice, monitor
				activity on the Site to determine compliance with the TOS or to
				comply with any law, regulation or authorized government
				request.&nbsp; You hereby specifically agree to such monitoring.
				&nbsp; In the event that SocialEQ does monitor the Site or the
				Services, SocialEQ makes no representation or warranty that
				SocialEQ will take any action whatsoever in connection with any
				of the monitored activities and SocialEQ assumes no liability
				with respect thereto.</p>

			<h4>5.4 Potential Interactions with Other Users</h4>

			<p>5.4.1. SocialEQ uses various techniques to verify the
				accuracy of the information provided by users. &nbsp; However, in
				view of the limitations in verification on the Internet, SocialEQ
				cannot confirm the identity of users. &nbsp; We encourage you to
				use the various tools and content available on the Site, as well
				as elsewhere, to evaluate the users with whom you are dealing.</p>

			<p>5.4.2. You acknowledge that there are risks of dealing with
				other users acting under false pretenses, and you assume the
				risks of liability or harm of any kind in connection with
				transactions of any kind relating to goods and/or services that
				are the subject of transactions using the Site.&nbsp; Such risks
				shall include, but are not limited to, misrepresentation of
				information about a user or a Startup, breach of warranty, breach
				of contract, and violation of third-party rights and consequent
				claims.&nbsp; You agree that SocialEQ shall not be liable or
				responsible for any damages, liabilities, costs, harms,
				inconveniences, business disruptions or expenditures of any kind
				that may arise as a result of or in connection with any
				transactions with others using the site.</p>

			<p>5.4.3. Buyer Obligations - You agree that, as a Buyer, you
				are responsible for understanding and reviewing the full
				description of any good, service or other item promoted by a
				Seller via the Services ("Merchandise" ), including any terms and
				conditions applicable to the receipt of such Merchandise ("Seller
				Terms" ), before committing to make any purchase via the Services
				to any Seller. When you make a purchase via the Services by
				responding to a Seller, you enter into a legally binding contract
				with the applicable Seller to complete such purchase and to
				receive any Merchandise subject to the Seller Terms.&nbsp;</p>

			<p>You agree to look solely to the applicable Seller to
				resolve all questions and disputes regarding any purchases you
				make to a Seller. SocialEQ is not responsible for resolving any
				disputes between Buyers and Sellers.</p>

			<p>We allow you to store payment method information through an
				account maintained by Braintree, a division of PayPal, Inc.
				("Braintree", "PayPal") or through our Services via our
				designated payment processor. When you make a payment via the
				Services using Braintree, Braintree will process such payments on
				behalf of the Seller directly. When you make a payment via the
				payment information stored through our Services, we, or our
				designated payment processor, will transmit your payment method
				information to the Seller, or its designated payment processor,
				and the Seller, or its designated payment processor, will process
				such payments or donations directly.</p>

			<p>
				5.4.4 Seller Obligations - You agree that, as a Seller, you are
				responsible for accepting payments via a Braintree account that
				you connect to your account via the Services. Your use of a
				Braintree account to accept such payments is subject to terms and
				conditions established by Braintree
				(<a href="https://www.braintreepayments.com/legal">https://www.braintreepayments.com/legal</a> ) and Paypal, Inc. (<a
					href="https://www.paypal.com/us/webapps/mpp/ua/legalhub-full">https://www.paypal.com/us/webapps/mpp/ua/legalhub-full</a>)
			</p>

			<p>You agree to provide clear and conspicuous notice to Buyers
				of any Seller Terms. The Seller Terms applicable to any
				Merchandise will form a contract between you and any Buyer who
				makes a payment or donation to you that entitles such Buyer to
				any Merchandise. In delivering any Merchandise, you will not
				require any payments or impose any conditions that were not
				disclosed in the Seller Terms. You agree that any Merchandise you
				promote will not breach any agreements you have entered into with
				any third parties.</p>

			<p>You are solely responsible for: (a) promptly
				fulfilling any Merchandise purchased by any Buyer via the
				Services in accordance with the Seller Terms; (b) collecting and
				remitting any value added, use, sales or other transfer taxes
				owed to any national, state, or local taxing authorities in
				connection with the sale of any Merchandise; (c) resolving any
				disputes with Buyers regarding any purchased Merchandise,
				including any chargebacks or refunds; and (d) any and all
				injuries, illnesses, damages, claims, liabilities and costs
				suffered by you or any Buyer that purchases your Merchandise,
				which are caused in whole or in part by you or your Merchandise.
			</p>

			<p>As a Seller, you may not use the Services to post or
				link to any Merchandise that (a) infringes any third-party
				intellectual property rights (including copyright, trademark,
				patent and trademark secrets) or other proprietary rights
				(including rights of publicity or privacy); (b) constitutes libel
				or slander or is otherwise defamatory; or (c) is counterfeited,
				illegal, stolen, or fraudulent. In addition, you are responsible
				for providing, at your own expense, all equipment necessary to
				use the Services, including a computer, modem, and Internet
				access (including payment of all fees associated with such
				access).</p>

			<h3>6. Prohibited Content/Conduct.</h3>

			<p>As a condition of your access to the Site and use of the
				Services, you are prohibited from (i) posting, uploading,
				exhibiting, communicating or distributing content which violates
				any applicable laws, rules or regulations or which SocialEQ, in
				its sole and absolute discretion, deems to be inappropriate and
				(ii) engaging in conduct which violates any applicable laws,
				rules or regulations or which SocialEQ, in its sole and absolute
				discretion, deems to be inappropriate.&nbsp; Examples of such
				prohibited content and prohibited conduct include, without
				limitation, the following:</p>

			<ul class="standard">
				<li>Posting, uploading or transmitting any content that
					violates any privacy right, publicity right, patent, trademark,
					trade secret, copyright or other proprietary right, or contract
					right or other right of any party;</li>
				<li>Posting, uploading or transmitting any content or
					engaging in any conduct that is offensive, harmful, threatening,
					abusive, harassing, defamatory, libelous, or obscene or that is
					unlawful in any manner or that degrades, intimidates, promotes
					or incites racism, bigotry, hatred or physical harm of any kind
					against any group or individual, including, without limitation,
					on the basis of religion, gender, sexual orientation, race,
					ethnicity, age, or disability;</li>
				<li>Posting, uploading or transmitting any content that is
					pornographic or that exploits people (adults or children) in a
					sexual or violent manner; or contains nudity, excessive
					violence, or offensive subject matter or that contains a link to
					any of the foregoing types of content or to an adult website or
					in any way using the Site or the Services in connection with any
					adult entertainment or pornography business;</li>
				<li>Copying, reproducing, modifying (including, without
					limitation, altering, obscuring, deleting, etc. any copyright or
					other legally required notices, credits, logos, trademarks,
					etc.), creating derivative works from, or distributing in any
					manner or medium any content posted on the Site or through the
					Services in any manner that is in violation of the terms of the
					User Agreements or other applicable agreements;</li>
				<li>Direct money transmission, collection agencies,
					bankruptcy attorneys, credit repair agencies, sports forecasting
					or odds making, credit counseling or credit repair services,
					credit protection / identity theft protection, direct marketing,
					drug paraphernalia, multi-level marketing businesses (e.g.
					pyramid selling), inbound telemarketers, outbound telemarketers,
					prepaid phone cards, prepaid phone services, rebate-based
					businesses, "up-sell" merchants, bill payments, escort services,
					gambling or betting, automated cash disbursements, money orders,
					foreign currency exchange, wire transfer money orders, automated
					fuel dispensers, or any business model heavily reliant upon or
					solely or primarily based on any guaranteed "rebate", "refund",
					or "prize" associated with the sale of products or services;</li>
				<li>Impersonating any person or entity, or submitting any
					materials to the Site or through the Services that are false,
					inaccurate, deceptive, misleading, unlawful, or are otherwise in
					violation of the TOS or the Additional Terms, including, without
					limitation, utilizing misleading email addresses, or forged
					headers or otherwise manipulated identifiers in order to
					disguise the origin of any content transmitted to the Site or
					through the Services;</li>
				<li>Except as explicitly permitted by the TOS and Additional
					Terms, or otherwise pre-approved in writing by SocialEQ,
					engaging in any commercial activity on the Site or including any
					links to commercial services or websites or uploading, posting
					or otherwise transmitting any content that contains advertising
					or any solicitation regarding products, goods or services;</li>
				<li>Interfering with any user's right to privacy; soliciting
					or collecting user names, passwords, emails, personal
					identifying information or other information from any user;
					engaging in conduct that poses or creates a privacy or security
					risk to any person; or posting private information about a third
					party;</li>
				<li>Engaging in conduct that involves the posting, uploading
					or transmission of unsolicited or unauthorized advertising or
					promotional materials, "junk mail," "chain letters," unsolicited
					mass mailing, "spimming," or "spamming";</li>
				<li>Engaging in any action or inaction that could disable,
					overload, impair the infrastructure of the Site or impair the
					proper functioning of the Site or the Services, including,
					without limitation, uploading, posting or otherwise transmitting
					any software or materials which contain a virus or other harmful
					or disruptive component; circumventing, altering or interfering
					with any computer software, or security-related features of the
					Site or the Services; or deciphering, decompiling, disassembling
					or reverse engineering any of the software comprising or in any
					way utilized in connection with the Site or the Services;</li>
				<li>Accessing or attempting to access the Site or the
					Services using automated means (such as harvesting bots, robots,
					spiders, or scrapers) or gaining, or attempting to gain,
					unauthorized access to any servers, computer systems or
					databases utilized in connection with the Site or the Services;</li>
				<li>Using the communication systems provided by the Site for
					any solicitation or other commercial purposes, except as
					explicitly permitted by the User Agreements or otherwise
					authorized by SocialEQ, or SocialEQ and the specific user, as
					applicable;</li>
				<li>Uploading, posting or transmitting any content that
					advocates or provides instruction on illegal activity or
					communicating on or through the Site regarding illegal
					activities with the intent to commit them;</li>
				<li>Making any untrue statement of a material fact or
					omitting to state a material fact necessary in order to make the
					statements made, in the light of the circumstances under which
					they were made, not misleading, in connection with the purchase
					or sale of any security; and</li>
				<li>Engaging in any conduct that in SocialEQ's sole
					discretion restricts or inhibits any other user from enjoying
					the use of the Site or any of the Services.</li>
			</ul>

			<h3>7. Pricing</h3>

			<p>SocialEQ reserves the right to charge fees for use of the
				Site or specific Services.&nbsp; You agree that, in addition to
				all other amounts payable under the TOS or the Additional Terms,
				you are responsible for paying all sales, use, value added or
				other taxes - federal, state or otherwise - however designated,
				that are levied or imposed by reason of your use of the Site and
				the Services.</p>

			<h4>7.1 Amount of Fees.</h4>

			<p>Sellers agree to pay SocialEQ the fees for transactions
				completed via the Services ("Fees" ) as provided in the Services
				Agreement executed by the Seller and SocialEQ. Any taxes
				collected by SocialEQ, if applicable, will be in addition to the
				Fees. Any changes to the Fee will be effective upon execution.</p>

			<h4>7.2 Payment of Fees.</h4>

			<p>In order to pay any Fees, we allow you to store payment
				method information ("Payment Method"). You represent and warrant
				that you are authorized to use such designated Payment Method and
				authorize us, or our designated payment processor, to charge or
				debit such Payment Method for any applicable Fees. If the Payment
				Method cannot be verified, is invalid or is otherwise not
				acceptable to us, or our designated payment processor, your
				ability to accept payments from Buyers via the Services may be
				suspended immediately. You must resolve any problem SocialEQ, or
				our designated payment processor, encounters to continue
				accepting payments from Buyers. In addition, by accepting
				payments from Buyers via the Services, you authorize us, or our
				designated payment processor, to charge applicable Fees to your
				designated Payment Method and to process and store your Payment
				Method information and any other related personal information.</p>

			<h4>7.3 Errors; Refunds.</h4>

			<p>If we make an error in charging any Fees, we will correct
				it promptly after you notify us and we have investigated and
				verified the error. You must notify us in writing within 30 days
				after an error first appears on your bill or online statement. If
				you do not report the error to us within such 30 day period, we
				will not be required to correct the error and you agree to pay
				the amount charged or debited. You release us from all liability
				and claims of loss resulting from any error that you do not
				report to us within 30 days after the error first appears on your
				bill or online statement. Other than as described in this
				section, or as required by law, we will not provide any refunds
				for Fees.&nbsp;</p>

			<h3>8. Proprietary Property.</h3>

			<h4>8.1 SocialEQ Proprietary Property.</h4>

			<p>The Site and the Services are and contain proprietary
				property/content of SocialEQ (such as logos, copyrights,
				trademarks, technology, processes, etc.) ("SocialEQ Proprietary
				Property") which may be protected by copyright, trademark,
				patent, trade secret and other laws.&nbsp; SocialEQ owns and
				retains all rights in and to the SocialEQ Proprietary
				Property.&nbsp; "SocialEQ" and the SocialEQ logo are trademarks
				of Purple &amp; Gold, Inc. &nbsp; SocialEQ hereby grants you a
				limited, revocable, nonsublicensable license to display and/or
				utilize the SocialEQ Proprietary Property solely for your use in
				connection with using the Site and the Services for the purposes
				authorized by the User Agreement. &nbsp; Except as explicitly
				permitted in the TOS or any Additional Terms, you do not have the
				right to use the SocialEQ Proprietary Property for any commercial
				use or to receive any monetary or other compensation in
				connection with the SocialEQ Proprietary Property. &nbsp; Except
				as expressly provided by the TOS or the Additional Terms, your
				use of the SocialEQ Proprietary Property is strictly prohibited.
			</p>

			<h4>8.2 Third Party Proprietary Property.</h4>

			<p>The Services may contain proprietary property/content
				provided by third party SocialEQ licensors (such as logos,
				copyrights, trademarks, etc.) ("Third Party Proprietary
				Property").&nbsp; SocialEQ hereby grants you a limited,
				revocable, nonsublicensable license to display and/or utilize the
				Third Party Proprietary Property solely for your use in
				connection with using the Site and the Services for purposes
				authorized by the User Agreements.&nbsp; You do not have the
				right to use the Third Party Proprietary Property for any
				commercial use or to receive any monetary or other compensation
				in connection with the Third Party Proprietary Property.&nbsp;
				Except as expressly provided by the TOS or the Additional Terms,
				your use of the Third Party Proprietary Property is strictly
				prohibited.</p>

			<h4>8.3 Use of Proprietary Property</h4>

			<p>Unless expressly provided by the TOS or the Additional
				Terms, you may not copy, modify, edit, translate, publish,
				broadcast, transmit, distribute, perform, display, sell or
				otherwise use any SocialEQ Proprietary Property, any Third Party
				Proprietary Property or any other content appearing on or through
				the Site.&nbsp; You acknowledge that SocialEQ is not responsible
				for, does not control and makes no representation or warranty
				regarding the reliability, accuracy, usefulness, safety,
				legitimacy or quality of any content.&nbsp; SocialEQ does not
				endorse any content on the Site or any statement, opinion,
				suggestion or advice contained therein, and SocialEQ expressly
				disclaims any and all liability in connection therewith. &nbsp;
				You agree that you will bear any and all risk of reliance on the
				accuracy, validity or legitimacy of any content on the
				Site.&nbsp; You further understand and agree that in the course
				of your use of the Site and the Services, you may be exposed to
				content on the Site that is illegal, inaccurate, offensive,
				indecent or objectionable and you hereby waive, any legal or
				equitable rights or remedies you have or may have against
				SocialEQ with respect thereto.</p>

			<h3>9. Protecting Intellectual Property; Digital Millennium
				Copyright Act.</h3>

			<h4>9.1 General.</h4>

			<p>SocialEQ specifically prohibits users from uploading,
				embedding, posting, emailing, transmitting or otherwise making
				available on or through the Site or the Services any material
				that infringes any copyright, patent, trademark, trade secret or
				other proprietary rights of any person or entity. &nbsp; It is
				SocialEQ's policy to terminate, under appropriate circumstances,
				the account of users who are determined to be repeat infringers.
			</p>

			<h4>9.2 DMCA Notification.</h4>

			<p>If you are a copyright owner or an agent thereof and
				believe that any content made available via the Site infringes
				upon your copyright, you may submit a notification pursuant to
				the Digital Millennium Copyright Act ("DMCA") by providing
				SocialEQ's copyright agent ("Copyright Agent") with the following
				information in writing: (a) identification of the copyrighted
				work claimed to have been infringed, or, if multiple copyrighted
				works are covered by a single notification, a representative list
				of such works; (b) identification of the claimed infringing
				material and information reasonably sufficient to permit us to
				locate the material on the Site (providing the URL(s) of the
				claimed infringing material satisfies this requirement); (c)
				information reasonably sufficient to permit SocialEQ to contact
				you, such as an address, telephone number, and, if available, an
				email address; (d) a statement by you that you have a good faith
				belief that the disputed use is not authorized by the copyright
				owner, its agent, or the law; (e) a statement by you, made under
				penalty of perjury, that the above information in your
				notification is accurate and that you are the copyright owner or
				are authorized to act on the copyright owner's behalf; and (f)
				your physical or electronic signature. &nbsp; The contact
				information for the Copyright Agent to receive notifications of
				claimed infringement is: Legal Department, Purple &amp; Gold,
				Inc., One Commerce Center - 1201 Orange St. #600, Wilmington,
				Delaware 19899; email: support@socialeq.co</p>

			<h4>9.3 Counter-Notice.</h4>

			<p>If you feel that any of your content was improperly removed
				or made unavailable to other users, please contact SocialEQ's
				Copyright Agent via the contact information set forth above.</p>

			<h3>10. Links to Third Party Sites.</h3>

			<p>The Site and the Services may contain links to independent
				third-party websites and/or services (collectively, "Linked
				Sites"). &nbsp; The Linked Sites are not under SocialEQ's
				control, and SocialEQ does not endorse, is not responsible for
				and shall have no liability to you with respect to the business
				practices, privacy policies or content, materials, information,
				merchandise, products or services displayed, featured, mentioned,
				advertised, distributed or sold on or through such Linked
				Sites.&nbsp; By accessing a Linked Site, you may be disclosing
				your private information and be exposing yourself to content that
				you find disturbing.&nbsp; It is your responsibility to read and
				understand the privacy, membership, payment and other policies of
				the Linked Sites and to determine on your own whether or not you
				will have any interaction with any of the Linked Sites.&nbsp;
				SocialEQ encourages you not to provide any personally
				identifiable information to any Linked Site unless you know and
				are comfortable with the party with whom you are interacting.
				&nbsp; You agree that SocialEQ is not responsible for and shall
				have no liability to you, with respect to merchandise, products,
				and/or services advertised, featured, mentioned, sold,
				distributed, displayed or linked on or through the Site or the
				Services.</p>

			<h3>11. Submitted Ideas/Feedback.</h3>

			<p>All comments, suggestions, ideas, notes, drawings, concepts
				or other information disclosed or offered by you through the Site
				and the Services or in response to solicitations made through the
				Site or the Services (collectively, "Feedback") is entirely
				voluntary and shall be deemed to be non- confidential and shall
				forever remain the sole property of SocialEQ. &nbsp; You
				understand and acknowledge that SocialEQ has both internal and
				external resources which may have developed, or may in the future
				develop, ideas, content, programming, etc. identical to or
				similar to your Feedback and you agree that SocialEQ will not
				incur any obligation or liability to you or otherwise as a result
				of (i) any such similarities or (ii) SocialEQ's review of any of
				the Feedback.&nbsp; SocialEQ shall exclusively own, throughout
				the universe in perpetuity, all rights of every kind and nature
				(whether currently existing or hereafter developed) in and to the
				Feedback and SocialEQ shall be entitled to unrestricted use of
				the Feedback for any and all purposes whatsoever, commercial or
				otherwise, without any payment or other obligation to you or any
				other person involved with the creation and/or submission to
				SocialEQ of the Feedback.&nbsp; You hereby waive any and all of
				your rights of droit moral and similar rights with respect to the
				Feedback.</p>

			<h3>12. Disclaimer; Exclusion of Warranties.</h3>

			<p>THE SITE AND THE SERVICES, AND ALL OF THE CONTENT,
				INFORMATION, AND MATERIALS POSTED ON OR PROVIDED BY OR THROUGH
				THE SITE OR THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS
				AVAILABLE" BASIS, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
				IMPLIED, INCLUDING WITHOUT LIMITATION, ANY WARRANTY OF ACCURACY
				OR FITNESS FOR A PARTICULAR PURPOSE.&nbsp; BY USING THE SITE
				AND/OR THE SERVICES, YOU AGREE TO USE YOUR OWN JUDGMENT, CAUTION
				AND COMMON SENSE IN MANAGING ALL CONTENT, INFORMATION, COACHING,
				ADVICE, FEEDBACK AND MATERIALS OFFERED AND YOU AGREE THAT ANY USE
				YOU MAKE OF SUCH CONTENT, INFORMATION, OR MATERIALS IS AT YOUR
				OWN RISK. &nbsp; YOU ACKNOWLEDGE THAT SOCIALEQ IS NOT RESPONSIBLE
				FOR ANY DAMAGES OR LOSSES RESULTING FROM YOUR RELIANCE ON ANY OF
				THE FOREGOING CONTENT, INFORMATION, OR MATERIALS.</p>

			<p>SOCIALEQ IS NOT RESPONSIBLE FOR AND MAKES NO WARRANTIES,
				EXPRESS OR IMPLIED, AS TO ANY USER OR THIRD-PARTY CONTENT POSTED
				ON, THROUGH OR IN CONNECTION WITH THE SITE OR THE SERVICES,
				INCLUDING, WITHOUT LIMITATION, ANY CONTENT THAT IS UNAUTHORIZED
				OR VIOLATES THE TOS OR THE ADDITIONAL TERMS, AND SUCH CONTENT
				DOES NOT NECESSARILY REFLECT THE OPINIONS OR POLICIES OF
				SOCIALEQ. &nbsp; UNDER NO CIRCUMSTANCES SHALL SOCIALEQ BE
				RESPONSIBLE FOR ANY LOSS OR DAMAGE, INCLUDING, WITHOUT
				LIMITATION, PERSONAL INJURY OR DEATH, RESULTING FROM USE OF THE
				SITE OR THE SERVICES, FROM ANY CONTENT POSTED ON THE SITE OR
				THROUGH THE SERVICES (WHETHER SUCH CONTENT VIOLATES THE TOS OR
				ADDITIONAL TERMS OR NOT), FROM ANY SERVICES OFFERED THROUGH THE
				SITE OR FROM THE CONDUCT OF ANY USER OF THE SITE OR THE SERVICES
				OR ANY USER OF ANY LINKED SITE (REGARDLESS OF WHETHER SUCH
				CONDUCT VIOLATES THE TOS OR ADDITIONAL TERMS, OR WHETHER SUCH
				CONDUCT IS ONLINE OR OFFLINE).</p>

			<p>SOCIALEQ ASSUMES NO RESPONSIBILITY FOR ANY ERROR, OMISSION,
				INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR
				TRANSMISSION, COMMUNICATIONS LINE FAILURE, THEFT OR DESTRUCTION
				OR UNAUTHORIZED ACCESS TO, OR ALTERATION OF, ANY OF YOUR
				COMMUNICATIONS ON OR THROUGH THE SITE.&nbsp; SOCIALEQ IS NOT
				RESPONSIBLE FOR ANY MALFUNCTION OR OTHER PROBLEM WITH ANY
				TELEPHONE NETWORK, TELEPHONE LINES, COMPUTER ONLINE SYSTEMS,
				SERVERS, INTERNET SERVICE PROVIDERS, COMPUTER EQUIPMENT,
				SOFTWARE, OR FAILURE OF ANY EMAIL OR PLAYERS, INCLUDING, WITHOUT
				LIMITATION, ANY PERSONAL INJURY OR PROPERTY DAMAGE. &nbsp;
				SOCIALEQ DOES NOT GUARANTEE ANY RESULTS (SPECIFIC OR OTHERWISE)
				FROM YOUR USE OF THE SITE OR THE SERVICES AND SOCIALEQ MAKES NO
				REPRESENTATION OR WARRANTY THAT THE SITE, THE SERVICES OR THE
				INFORMATION OR SERVICES PROVIDED THEREBY WILL MEET YOUR
				REQUIREMENTS. &nbsp; IF YOU ARE IN ANY WAY DISSATISFIED WITH THE
				SITE OR THE SERVICES, YOUR SOLE REMEDY IS TO DISCONTINUE YOUR USE
				OF THE SITE AND/OR THE SERVICES.</p>

			<p>SOCIALEQ DISCLAIMS ANY AND ALL LIABILITY OF ANY KIND FOR
				ANY UNAUTHORIZED ACCESS TO OR USE OF ANY OF YOUR PERSONALLY
				IDENTIFIABLE INFORMATION. &nbsp; BY ACCESSING THE SITE, YOU AGREE
				THAT SOCIALEQ SHALL NOT BE LIABLE FOR ANY UNAUTHORIZED ACCESS TO
				OR USE OF ANY OF YOUR PERSONALLY IDENTIFIABLE INFORMATION.</p>

			<h3>13. Limitation on Liability.</h3>

			<p>IN NO EVENT SHALL SOCIALEQ, ITS AFFILIATES, LICENSORS,
				SPONSORS, OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO
				YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR
				CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING WITHOUT LIMITATION,
				LOSS OF PROFITS, DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE
				LOSSES) RESULTING FROM (I) ERRORS, MISTAKES, OR INACCURACIES OF
				CONTENT DISPLAYED ON THE SITE OR THROUGH THE SITE OR THE
				SERVICES, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE
				WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND/OR USE OF (OR YOUR
				INABILITY TO ACCESS AND USE) THE SITE OR THE SERVICES, INCLUDING,
				WITHOUT LIMITATION, ANY DAMAGE CAUSED TO YOUR COMPUTER OR
				SOFTWARE OR INFORMATION STORED THEREON, (III) ANY CONDUCT OR
				CONTENT OF ANY THIRD PARTY OBTAINED ON OR THROUGH THE SITE OR THE
				SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE
				OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES (IV) ANY
				UNAUTHORIZED ACCESS TO OR USE OF SOCIALEQ SERVERS AND/OR ANY AND
				ALL PERSONAL AND/OR OTHER INFORMATION STORED THEREIN, (V) ANY
				INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SITE OR
				THROUGH THE SITE OR ANY OF THE SERVICES, (VI) ANY BUGS, VIRUSES,
				TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR
				THROUGH THE SITE OR THE SERVICES BY ANY THIRD PARTY, (VII)
				UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR
				CONTENT, (VIII) EMAILS OR OTHER TRANSMISSIONS OR COMMUNICATIONS
				MADE TO YOU THROUGH THE SITE OR THE SERVICES AND/OR (IX) ANY
				ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF
				ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT OR
				SERVICES POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE
				AVAILABLE VIA THE SITE OR THE SERVICES, WHETHER BASED ON
				WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER
				LEGAL THEORY, AND WHETHER OR NOT SOCIALEQ IS ADVISED OF THE
				POSSIBILITY OF SUCH DAMAGES AND EVEN IF A REMEDY SET FORTH HEREIN
				IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. &nbsp; THE
				FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST
				EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.</p>

			<h3>14. U.S. Export Controls.</h3>

			<p>Users may not download, use, export or reexport any content
				posted on or through the Site or any software utilized or
				available in connection with the Site or the Services in
				violation of any applicable laws or regulations, including,
				without limitation, United States export laws, regulations and
				controls.</p>

			<h3>15. Governing Law; Disputes.</h3>

			<h4>15.1 Governing Law.</h4>

			<p>The User Agreements shall be governed by, and construed in
				accordance with, the laws of the State of Washington, without
				regard to its conflict of law provisions.</p>

			<h4>15.2 Disputes With Other Users.</h4>

			<p>You are solely responsible for your interactions with other
				users of the Site and the Services, and any other parties with
				whom you interact on or through the Site, the Services and/or the
				Linked Sites.</p>

			<p>SocialEQ reserves the right, but has no obligation, to
				become involved in any way with these disputes.</p>

			<h4>15.3 Disputes Resolution.</h4>

			<p>You and SocialEQ agree to submit to the exclusive
				jurisdiction of the courts located in King County, Washington to
				resolve any dispute arising out of the User Agreements or your
				access to or use of the Site or the Services. &nbsp; EACH OF YOU
				AND SOCIALEQ HEREBY KNOWINGLY, VOLUNTARILY AND INTENTIONALLY
				WAIVES ANY RIGHT IT MAY HAVE TO A TRIAL BY JURY IN RESPECT OF ANY
				LITIGATION (INCLUDING, BUT NOT LIMITED TO, ANY CLAIMS,
				COUNTERCLAIMS, CROSS-CLAIMS, OR THIRD PARTY CLAIMS) ARISING OUT
				OF, UNDER OR IN CONNECTION WITH THIS AGREEMENT. &nbsp; FURTHER,
				EACH OF YOU AND SOCIALEQ HEREBY CERTIFIES THAT NO REPRESENTATIVE
				OR AGENT OF THE OTHER HAS REPRESENTED, EXPRESSLY OR OTHERWISE,
				THAT THE OTHER WOULD NOT IN THE EVENT OF SUCH LITIGATION, SEEK TO
				ENFORCE THIS WAIVER OF RIGHT TO JURY TRIAL PROVISION.&nbsp; EACH
				OF YOU AND SOCIALEQ ACKNOWLEDGES THAT THIS SECTION IS A MATERIAL
				INDUCEMENT FOR EACH OF THEM, RESPECTIVELY, TO ENTER INTO THIS
				AGREEMENT.</p>

			<h3>16. Indemnity.</h3>

			<p>You agree to defend SocialEQ, its subsidiaries, affiliates,
				licensors and assignees and their respective officers, directors,
				managers, stockholders, members, agents, partners and employees
				(the "SocialEQ Indemnitees"), from and against any and all
				claims, actions, suits, demands or other proceedings brought by
				or on behalf of any third party, and to indemnify and hold the
				SocialEQ Indemnitees harmless against any losses, liabilities and
				other damages (including, but not limited to, reasonable
				attorneys' fees), in any case arising out of or related to (i)
				your access to and/or use of the Site and the Services,
				including, without limitation, your use of the Site and the
				Services in connection with any transaction in securities; (ii) a
				violation or breach by you, or any user of your account, of any
				provision of the TOS or of any Additional Terms, including,
				without limitation, a breach of any of the representations,
				warranties or agreements set forth in the TOS and the Additional
				Terms; and/or (iii) any content that you post on or through the
				Site or the Services. &nbsp; This defense and indemnification
				obligation will survive following the termination of your use of
				the Site and the Services.</p>

			<h3>17. Other Terms.</h3>

			<p>SocialEQ has the right to assign the User Agreements and/or
				its rights thereunder, in whole or in part, to any third
				party.&nbsp; You do not have the right to assign the User
				Agreements, except if and to the extent explicitly permitted in
				the Additional Terms. &nbsp; The failure of SocialEQ to exercise
				or enforce any right or provision of the User Agreements shall
				not operate as a waiver by SocialEQ of such right or provision.
				&nbsp; The section titles in the User Agreements are for
				convenience only and have no legal or contractual effect. &nbsp;
				The User Agreements operates to the fullest extent permissible by
				law.&nbsp; If any provision of the User Agreements are held by a
				court or other tribunal of competent jurisdiction to be unlawful,
				void or unenforceable, such provision (i) is deemed severable
				from the User Agreements and does not affect the validity and
				enforceability of any remaining provisions which shall remain in
				full force and effect and (ii) shall be limited or eliminated to
				the minimum extent necessary to comply with the applicable law.
				&nbsp; SocialEQ reserves all rights in and to the Site, including
				the Services and the other content posted thereon, unless
				otherwise expressly provided by this TOS or the Additional Terms.
				&nbsp; SocialEQ reserves the right to modify or discontinue any
				aspect of the Services at any time without prior notice and
				without any liability to you.</p>

			<h3>18.Reporting of Violations.</h3>

			<p>If you become aware of any misuse of the Site or the
				Services or any violation of the TOS, please report such misuse
				and/or violation by sending an email to SocialEQ at
				support@socialeq.co</p>


	    </div>
	    <div class="col-xs-1"></div>
	  </div>
    </div>

</html>
