<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

	<div tiles:fragment="body">

	  <div id="registration-wrapper">
				  
	   <div class="row">
	     <div class="col-sm-12">
	       <div class="headline">
	         <h1>Finished!</h1>
	         <h2>Thanks for registering. Your first listing will be published shortly.</h2>
	       </div>
	     </div>
	   </div>
	      
	   <div class="row">
	     <div class="col-sm-8">
		
  		   <p>
  		     Thanks for signing up with SocialEQ! Your digital music sale will be published as soon as we review it.
  		   </p>
  		   
  		   <div style="margin-top: 50px;">
		     <p>
		       Got questions? You can reach us at <a href="mailto:support@socialeq.co">support@socialeq.co</a>
		     </p>
		   </div>
  		 
  		 </div>
  		 
  	   </div>
	  </div>
	</div>
</html>