packages:
      yum:
               telnet: []
               tomcat-native: []
               mysql: []

container_commands:
      01_setup_apache_rewrite:
               command: "cp -f .ebextensions/elasticbeanstalk.conf /etc/httpd/conf.d/elasticbeanstalk.conf"
      02_setup_apache_compression:
               command: "cp -f .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
      03_restart_httpd:
               command: "/etc/init.d/httpd restart"
      04_setup_batch_logging:
               command: "sh .ebextensions/batchLogSetup.sh"
      05_setup_stream_logging:
               command: "sh .ebextensions/streamLogSetup.sh"               

option_settings:
  - namespace:  aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name:  Xmx
    value:  512m
