<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="viewport"
		content="initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=yes" />
	
	<link
		href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css?v=1"
		rel="stylesheet" />
	<link
		href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css?v=1"
		rel="stylesheet" />
	
	<link rel="stylesheet" media="screen" href="/resources/css/reset.css" />
	
	<link rel="stylesheet/less" type="text/css" media="screen"
		href="/resources/css/style.less" />
	<!-- 	<link rel="stylesheet" media="screen" th:href="@{/resources/css/style.css}" /> -->
	
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700"
		rel="stylesheet" type="text/css" />
	
	<link rel="shortcut icon" type="image/x-icon"
		href="/resources/images/site/favicon.ico" />
	
	<!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	      <link rel="stylesheet" th:href="@{/resources/css/ie.css}">
	    <![endif]-->
	
	
	
	<title>Error</title>
</head>

<body>

	<span> <script
			src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js?v=1"></script>
		<script src="/resources/js/vendor/jquery.cookie-1.4.0.js"></script> <script
			src="/resources/js/hootit.js"></script> <script
			src="/resources/js/vendor/less-1.7.0.js"></script> <script>
		/*<![CDATA[*/
		
			$(document).ready(function() {
				
				$.ajaxSetup({ cache: true });
				$.getScript( "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js", function() {} );
				$.getScript( "//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js", function() {} );
				$.getScript( '/resources/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js', function() {} );
				$.getScript( '/resources/js/plugins.js', function() {} );
				$.getScript( "//connect.facebook.net/en_US/all.js", function() {} );
				
				hootit.setIsUserLoggedIn( false
						);
				
				hootit.init();				
			});
		
		/*]]>*/
		</script>
	</span>

	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

	<div class="row">
		<div class="col-xs-1 col-sm-1 flush">
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a>&nbsp;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3 col-sm-2 logo-container">
			<a href="/"> <img class="top-logo"
				src="/resources/images/site/SocialEQ-logo-sm.png" />
			</a>
		</div>
		<div class="col-xs-8 col-sm-9 flush">
			<nav class="navbar navbar-default navbar-static-top"
				role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse" id="navbar-collapse-1">
						<ul class="nav navbar-nav nav-left">
							<li><a class="visible-lg visible-xs inactive"
								href="/sellOnFacebook">SocialEQ: Sell on Facebook</a></li>
							<li><a class="visible-md inactive" href="/sellOnFacebook">Sell
									on Facebook</a></li>
							<li><a class="visible-sm inactive" href="/sellOnFacebook">Facebook
									Selling</a></li>
							<li><a class="visible-lg visible-xs inactive"
								href="/sellOnTwitter">SocialEQ: Sell on Twitter</a></li>
							<li><a class="visible-md inactive" href="/sellOnTwitter">Sell
									on Twitter</a></li>
							<li><a class="visible-sm inactive" href="/sellOnTwitter">Twitter
									Selling</a></li>
							<li><a class="visible-lg visible-xs inactive" href="/donate">SocialEQ:
									Donations</a></li>
							<li><a class="visible-md visible-sm inactive" href="/donate">Donations</a></li>
							<li><a class="visible-lg visible-xs inactive"
								href="/contestsAndPromotions">SocialEQ: Promotions</a></li>
							<li><a class="visible-md visible-sm inactive"
								href="/contestsAndPromotions">Promotions</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/signin"><button type="button"
										class="btn btn-primary btn-xs">Sign in</button></a></li>
							<li></li>


							<li></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>

	<div>
		<div class="row">
			<div class="col-xs-1 col-sm-3"></div>
			<div class="col-xs-10 col-sm-9">
				<h1>Oops</h1>
				<p>Something internal has gone wrong. Rest assured we've made a
					note of it and will have it fixed in a jif!</p>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>

	<div class="band hero">
		<div class="container"></div>
	</div>

	<div class="band bannerbg">
		<div class="container"></div>
	</div>

	<div class="band">
		<div class="container"></div>
	</div>

	<div class="band footer">
		<div class="container">
		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			  ga('create', 'UA-51087403-1', 'socialeq.co');
			  ga('send', 'pageview');
		
		</script>
	
		<div class="container">
		  <div class="row">
			<div class="col-md-8">
				<ul class="footnav">
					<li><a href="/about">About</a></li>
					<li><a href="/support">Support</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
					<li><a href="/terms">Terms &amp; Conditions</a></li>
				</ul>
			</div>

			<div class="col-md-4">
				<ul class="footnav">
					<li><a href="https://twitter.com/socialeq"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
				</ul>
			</div>
		  </div>
		</div>
	</div>
	</div>

</body>
</html>